/* Figma Styles of your File */
:root {
    /* Colors */
    --primary-text-color: #262626;
    --secondary-text-color: #606060;
    --light-grey-bg: #f8f8f8;
    --very-light-bg: #fdfcfa;
    --dark-bg: #141414;
    --white: #ffffff;
    --green-highlight: #0fabab;
    --light-border: #eee;
    --dark-border: #000000;
    --accent-gray: #d9d9d9;
    --placeholder-gray: #c8c8c8;
    --hero-bg: #c8c8c8;
    --upload-area-bg: #f4f4f4;
    --upload-highlight-bg: #e0fffb; /* New color for drag highlight */
    --customer-text-color: #909b99;
    --timeline-text-color: #bcbcbc;
    --timeline-dot-bg: #535353;
    --link-opacity: 0.6;

    /* Fonts */
    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;

    /* Effects */
    --shadow-light: 0 4px 15px rgba(0,0,0,0.05);
}
